vm:
  cpus: 6
  memory: 4096

user:
  name: vagrant
  email: vagrant@vagrant.com

#syncfolders:
#  - host: <home>
#    guest: <guest>
#    type: "sshfs"

#forwardedports:
#  - host: 3306
#    guest: 3306
#    proto: tcp
